<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0.1"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <!-- Watch out! - be sure to include a space after the comma in the type name -->
        <add name="silverlightFaultBehavior" type="Microsoft.Activities.Extensions.ServiceModel.SilverlightFaultElement, Microsoft.Activities.Extensions" />
        <add name="workflowServiceTraceBehavior" type="Microsoft.Activities.Extensions.Diagnostics.WorkflowServiceTraceElement, Microsoft.Activities.Extensions" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <silverlightFaultBehavior />
          <workflowServiceTraceBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>